.iconTitle{
   display: flex;
   font-size: 25px;
   
}

.iconTitle h4{
   margin-top: 6px;
}

.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   padding-left: 2em;
   padding-right: 2em;
   background-color: rgba(79, 167, 170, 0.26);
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.navList{
   display: flex;
   margin: 10px;
   margin-left: 10px ;
   list-style: none;
}

.liNav{
  margin-left: 20px;
  font-size: 21px;
}

.liNav a{
   color: rgb(3, 3, 3);
} 

.show {
   visibility: visible
}

.hide {
   visibility: hidden
}